//COLORS
$clr-800: #161B21;
$clr-600: #212933;
$clr-400: #455364;
$clr-200: #9EA7B3;
$clr-100: #DDE4EC;
$clr-blue: #00A7AF;
$clr-orange: #FF5850;


//FONTS
$title: 'Fieldwork Black', sans-serif;
$heading: 'Fieldwork Bold', sans-serif;
$body: 'Jetbrains Mono', monospace;

$base-font-size: 10px;
$start-font-size: 48px;

//TRANSITIONS
$bounce: all 0.3s cubic-bezier(.65,-0.17,0,1.73);
$base: all 0.3s ease-in-out;
$base2: all 0.15s ease-in-out;