@use '@style/abstracts/variables' as *;

main {
  counter-reset: section;
}

.page-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: section;

  &:nth-child(odd) {
    .section-title {
      text-align: right;
    }
  }

  &:nth-child(even) {
    .section-title {
      width: max-content;
    }
  }
}

.section-row {
  $colGap: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 114rem;
  width: 100%;
  height: 100%;
  margin-inline: auto;

  &.section-row--fullwidth {
    max-width: 100%;
  }
  
  .section-col {
    padding: 2.4rem;

    &.section-col--center {
      display: flex;
      justify-content: center;
      align-items: center;

      .section-content {
        max-width: calc($container / 2)
      }
    }

    &.section-col--no-padding {
      padding: 0;
    }

    &.section-col--6 {
      flex: 1 0 calc(50% - $colGap);
    }

    &.section-col--12 {
      flex: 1 0 100%;
    }
  }
}

.content-wrapper {
  margin-top: 3.2rem;
}