@use '@style/abstracts/variables' as *;

html {
  font-size: $base-font-size;
  scroll-behavior: smooth;

  &.dark {
    .body {
      background-color: $clr-800
    }
  }

  body {
    background-color: white;
  }
}
body {
  overflow-x: hidden;
}
body,
#site-wrapper {
  min-height: 100vh;
  width: 100vw;
}